.center{
    margin: 0 auto;
    width: auto;
    padding: 8px;
}
.space{
    margin: 0 auto;
    padding: 30px;
}
.mat-elevation-z8 {
    width: auto;
  }
.example-form {
    min-width: 50px;
    max-width: 500px;
    width: auto;
}
  
.example-full-width {
    width: auto;
}