<div class="container">
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <span>Contact</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <h2>Veuillez-nous contacté pour plus d'information</h2>
    <div class="container2">
        <mat-grid-list cols="3" rowHeight="2:1">
            <mat-grid-tile>Email: <a href="mailto:contact@tibus.com" id="email_footer"> contact@tibus.com</a></mat-grid-tile>
            <mat-grid-tile>Tel: <a href="tel://(+228)90******" id="phone"> 90******</a><br></mat-grid-tile>
            <mat-grid-tile>Adresse: Lomé,TOGO</mat-grid-tile>
        </mat-grid-list>
        
        
    </div>
    
</div>