<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      
      <div>
        <a mat-list-item (click)="homePage()">
          <span class="material-icons">
            dashboard
          </span>Tableau de bord
        </a>
      </div>

      <div>
        <a mat-list-item (click)="listPageP()">
          <span class="material-icons">
            notifications_active
          </span>Programmation des bus
        </a>
      </div>

      <div>
        <a mat-list-item (click)="listPageC()">
          <span class="material-icons">
            add_business
          </span>Compagnies
        </a>
      </div>
      
      <div>
        <a mat-list-item (click)="listPageS()">
          <span class="material-icons">
            my_location
          </span>Stations
          </a>
      </div>

      <div>
        <a mat-list-item (click)="listPageT()">
          <span class="material-icons">
            swap_vert
          </span>Trajets
         </a>
      </div>

      <div>
        <a mat-list-item (click)="listPageB()">
          <span class="material-icons">
            departure_board
          </span>Bus
         </a>
      </div>

      <div>
        <a mat-list-item (click)="listPageR()">
          <span class="material-icons">
            add_shopping_cart
          </span>Reservations
        </a>
      </div>

      <div>
        <a mat-list-item (click)="contactPage()">
          <span class="material-icons">
            contact_page
          </span>Contact
        </a>
      </div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>tibus</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
