<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>TISTA+</mat-toolbar>
    <mat-nav-list>
      
      <div>
        <a mat-list-item (click)="homePage()">
          <span class="material-icons" style="margin: 5px">
            dashboard
          </span>Statistiques
          <img style="width:14px; height:14px; position: absolute; right: 10px; margin: 0px" src="../../assets/icons/flech.png" alt="">
        </a>
      </div>

      <div>
        <a mat-list-item (click)="listPageU()">
          <span class="material-icons" style="margin: 5px">
            perm_identity
          </span>Utilisateurs
          <img style="width:14px; height:14px; position: absolute; right: 10px; margin: 0px" src="../../assets/icons/flech.png" alt="">
        </a>
      </div>

      <div>
        <a mat-list-item (click)="listPageC()">
          <span class="material-icons" style="margin: 5px">
            credit_card
          </span>Cartes
          <img style="width:14px; height:14px; position: absolute; right: 10px; margin: 0px" src="../../assets/icons/flech.png" alt="">
        </a>
      </div>

      <div>
        <a mat-list-item (click)="listPageB()">
          <span class="material-icons" style="margin: 5px">
            local_gas_station
          </span>Bons d'essence
          <img style="width:14px; height:14px; position: absolute; right: 10px; margin: 0px" src="../../assets/icons/flech.png" alt="">
        </a>
      </div>

      <div>
        <a mat-list-item (click)="listPageP()">
          <img style="width:20px; height:20px; margin: 7px" src="../../assets/icons/pompe.png" alt="">
          Pompes
          <img style="width:14px; height:14px; position: absolute; right: 10px; margin: 0px" src="../../assets/icons/flech.png" alt="">
        </a>
      </div>

      <div>
        <a mat-list-item (click)="listPageS()">
          <img style="width:20px; height:20px; margin: 6px" src="../../assets/icons/stock.png" alt="">
          <span class="material-icons" style="margin: 5px">
            add_business
          </span>Stocks
          <img style="width:14px; height:14px; position: absolute; right: 10px; margin: 0px" src="../../assets/icons/flech.png" alt="">
        </a>
      </div>

      <div>
        <a mat-list-item (click)="listPageCl()">
          <span class="material-icons" style="margin: 5px">
            groups
          </span>Clients
          <img style="width:14px; height:14px; position: absolute; right: 10px; margin: 0px" src="../../assets/icons/flech.png" alt="">
        </a>
      </div>
      
      <div>
        <a mat-list-item (click)="listPageV()">
          <img style="width:20px; height:20px; margin: 6px" src="../../assets/icons/vente.png" alt="">
          Ventes
          <img style="width:14px; height:14px; position: absolute; right: 10px; margin: 0px" src="../../assets/icons/flech.png" alt="">
          </a>
      </div>

      <div>
        <a mat-list-item (click)="listPageD()">
          <span class="material-icons" style="margin: 5px">
            swap_vert
          </span>Dépenses
          <img style="width:14px; height:14px; position: absolute; right: 10px; margin: 0px" src="../../assets/icons/flech.png" alt="">
         </a>
      </div>

      <div>
        <a mat-list-item (click)="listPageCo()">
          <img style="width:50px; height:30px; margin: -8px" src="../../assets/icons/compensation.png" alt="">
          Compensations
          <img style="width:14px; height:14px; position: absolute; right: 10px; margin: 0px" src="../../assets/icons/flech.png" alt="">
         </a>
      </div>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
      <span class="example-spacer">
        <mat-nav-list>
          <div>
            <a mat-list-item (click)="listPageF()">
              Fournisseurs
            </a>
          </div>
        </mat-nav-list>
      </span>

      <span class="example-spacer">
        <mat-nav-list>
          <div>
            <a mat-list-item (click)="listPageSt()">
              Statistiques
              <img style="width:14px; height:14px; position: absolute; right: 10px; margin: 0px" src="../../assets/icons/flech.png" alt="">
            </a>
          </div>
        </mat-nav-list>
      </span>

      <span class="example-spacer">
        <mat-nav-list>
          <div>
            <a mat-list-item (click)="listPageSta()">
              Stations
            </a>
          </div>
        </mat-nav-list>
      </span>

      <span class="example-spacer">
        <mat-nav-list>
          <div>
            <a mat-list-item (click)="listPageT()">
              Transport
            </a>
          </div>
        </mat-nav-list>
      </span>

      <span class="example-spacer">
        <mat-nav-list>
          <div>
            <a mat-list-item (click)="listPageM()">
              Message
            </a>
          </div>
        </mat-nav-list>
      </span>
      
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
