<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <ul>
        <li><a mat-list-item routerLink="/">Tableau de bord</a></li>
        <li><a mat-list-item>Compagnies</a>
          <ul>
            <li><a mat-list-item routerLink="/compagnie">List</a></li>
            <li><a mat-list-item routerLink="/compagnie/add">Ajouter</a></li>
            <li><a mat-list-item routerLink="/compagnie/edit">Modifier</a></li>
          </ul>
        </li>
        <li><a mat-list-item>Stations</a>
          <ul>
            <li><a mat-list-item routerLink="/station">List</a></li>
            <li><a mat-list-item routerLink="/station/add">Ajouter</a></li>
            <li><a mat-list-item routerLink="/station/edit">Modifier</a></li>
          </ul>
        </li>
        <li><a mat-list-item>Trajets</a>
          <ul>
            <li><a mat-list-item routerLink="/trajet">List</a></li>
            <li><a mat-list-item routerLink="/trajet/add">Ajouter</a></li>
            <li><a mat-list-item routerLink="/trajet/edit">Modifier</a></li>
          </ul>
        </li>
        <li><a mat-list-item>Bus</a>
          <ul>
            <li><a mat-list-item routerLink="/bus">List</a></li>
            <li><a mat-list-item routerLink="/bus/add">Ajouter</a></li>
            <li><a mat-list-item routerLink="/bus/edit">Modifier</a></li>
          </ul>
        </li>
        <li><a mat-list-item>Reservations</a>
          <ul>
            <li><a mat-list-item routerLink="/reservation">List</a></li>
            <li><a mat-list-item routerLink="/reservation/add">Ajouter</a></li>
            <li><a mat-list-item routerLink="/reservation/edit">Modifier</a></li>
          </ul>
        </li>
        <li><a mat-list-item routerLink="/contact">Contact</a></li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>tibus</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
