<div class="back">
    <div class="center">
        <h3>Veuillez renseignez les informations de la compagnie</h3>
    </div>

<div class="space">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Nom de la compagnie</mat-label>
            <input matInput placeholder="CEET" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Nom du Directeur Général ou du propriétaire</mat-label>
            <input matInput placeholder="ABALO" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Adresse</mat-label>
            <input matInput placeholder="Lomé,TOGO" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Numéro de Téléphone</mat-label>
            <input matInput placeholder="90 90 90 90" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="abala@gmail.com" value="">
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
        <mat-label>Géolocalisation (Google Map)</mat-label>
        <textarea matInput placeholder=""></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary">Ajouter</button>
    </form>
</div>


</div>