<div class="container">
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <span>TABLEAU DE BORD</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
    
    <div class="">
                
            <div class="wrapper">
                <div class="vente-list"><!--vente total-->
                    vente total
                    <canvas id="bar-line1"  height="340" baseChart class="chart" 
                        [datasets]="lineChartData" [labels]="lineChartLabels" 
                        [options]="lineChartOptions" [colors]="lineChartColors"
                        [legend]="lineChartLegend" [chartType]="lineChartType" 
                        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" > 
                    </canvas>
                </div>  
                <div class="vente-list"><!--vente par pompe-->
                
                    <apx-chart 
                    [series]="series" 
                    [chart]="chart" 
                    [title]="title"></apx-chart>                    
                </div>  
                <div class="vente-list"><!--vente par pistolet-->
                    
                    <apx-chart 
                    [series]="series2" 
                    [chart]="chart2" 
                    [title]="title2"></apx-chart>
                </div>  
                <div class="vente-list"><!--vente par pompiste-->
                    <apx-chart 
                    [series]="series2" 
                    [chart]="chart2" 
                    [title]="title2"></apx-chart>
                </div> 

                <div class="vente2-list">
                    <apx-chart 
                    [series]="series4" 
                    [chart]="chart4" 
                    [title]="title4"
                    [xaxis]="xaxis4"
                    [yaxis]="yaxis4"
                    [plotOptions]="plotOptions4"
                    [dataLabels]="dataLabels4">
                    </apx-chart>
                </div>  
        
                <div class="vente2-list">
                    <div>
                        <canvas width="320px"
                        baseChart
                        [chartType]="lChartType" 
                        [datasets]="chartDatasets"
                        [labels]="chartLabels" 
                        [options]="chartOptions"
                        [legend]="true"> 
                        </canvas>
                    </div>
                </div>  
        
                <div class="vente2-list">
                    <apx-chart width="auto"
                    [series]="series6" 
                    [chart]="chart6" 
                    [title]="title6"
                    [xaxis]="xaxis6"
                    [plotOptions]="plotOptions6"
                    [dataLabels]="dataLabels6">
                    </apx-chart>
                </div>  
                                 
            </div>    
        
    </div>
</div>

