<div class="">
    <h3 class="center">Bienvenu sur Tista+</h3>
    <h4 class="center">Trajet disponible</h4>
    <div class="wrapper">
        <div class="trajet-list"><!--single-pricing-->
            
        </div>  
        <div class="trajet-list"><!--single-pricing-->
            <ul class="deals">
                
            </ul>
        </div>  
        <div class="trajet-list"><!--single-pricing-->
            
        </div>  
        <div class="trajet-list"><!--single-pricing-->
            <ul class="deals">
                
            </ul>
        </div> 
        <div class="trajet-list"><!--single-pricing-->
            
        </div>                    
    </div>
</div>